<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Asphodel</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-light</string>
            <string>icon-light-120</string>
            <string>icon-light-152</string>
            <string>icon-light-167</string>
            <string>icon-light-180</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>mono</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-mono</string>
            <string>icon-mono-120</string>
            <string>icon-mono-152</string>
            <string>icon-mono-167</string>
            <string>icon-mono-180</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>pride</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-pride</string>
            <string>icon-pride-120</string>
            <string>icon-pride-152</string>
            <string>icon-pride-167</string>
            <string>icon-pride-180</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>0.7.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>shadowsky</string>
          <string>bsky</string>
          <string>io.shadowsky.app</string>
          <string>io.shadowsky</string>
          <string>io.shadowsky.app</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+shadowsky</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Take photos for posts and profile</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Unlock app with Face ID</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Record video with audio</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to save images to your photo library</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to save images to your photo library</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>New Post</string>
        <key>UIApplicationShortcutItemType</key>
        <string>compose</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>href</key>
          <string>/(app)/compose</string>
        </dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeCompose</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Search</string>
        <key>UIApplicationShortcutItemType</key>
        <string>search</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>href</key>
          <string>/(app)/(tabs)/(search)</string>
        </dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeSearch</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Notifications</string>
        <key>UIApplicationShortcutItemType</key>
        <string>notifications</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>href</key>
          <string>/(app)/(tabs)/(notifications)</string>
        </dict>
        <key>UIApplicationShortcutItemIconSymbolName</key>
        <string>bell.fill</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Messages</string>
        <key>UIApplicationShortcutItemType</key>
        <string>messages</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>href</key>
          <string>/(app)/messages</string>
        </dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeMessage</string>
      </dict>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>fetch</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>